<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611840348446-vm6kvqbj60ot8e7he24odilujcdl7mmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611840348446-vm6kvqbj60ot8e7he24odilujcdl7mmo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>611840348446-i0mer62i93tni42p555fd4f2jrcavru3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACyaZnbPrSHdLPM3d3hJEODj0wzdBQ_sc</string>
	<key>GCM_SENDER_ID</key>
	<string>611840348446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cartafri</string>
	<key>PROJECT_ID</key>
	<string>cartafri-ad8e1</string>
	<key>STORAGE_BUCKET</key>
	<string>cartafri-ad8e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611840348446:ios:a3bc184b6e0c22e68df90f</string>
</dict>
</plist>